body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
	--color-yellow: #ffb961;
	--color-orange: #f3826f;
	--color-pink: #c05c7e;
	--color-purple: #722d61;
	--color-blue: #2d3561;
}


/* .halftone {
  background-image: radial-gradient(
      circle at center,
      rgba(0,0,0,0.25) 0.25rem,
      transparent 0
    ), radial-gradient(circle at center, rgba(0,0,0,0.25) 0.25rem, transparent 0);
  background-size: 1.3rem 1.3rem;
  background-position: 0 0, 0.65rem 0.65rem;
} */


